In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/Users/mac/Desktop/Project/titanic (1)/train.csv')
test = pd.read_csv('/Users/mac/Desktop/Project/titanic (1)/test.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.drop(columns = ['Name', 'Ticket', 'Cabin'], inplace = True)

In [5]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [6]:
data['Age'].replace(np.nan, data['Age'].mean(), inplace = True)
data['Embarked'].replace(np.nan, 'S', inplace = True)

In [7]:
from sklearn.preprocessing import LabelEncoder
data['Sex'] = LabelEncoder().fit(data['Sex']).transform(data['Sex'])
data['Embarked'] = LabelEncoder().fit(data['Embarked']).transform(data['Embarked'])

In [8]:
data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [9]:
X = np.array(data[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])
Y = np.array(data['Survived'])

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)
X_train_nor = StandardScaler().fit(x_train).transform(x_train.astype(float))
X_test_nor = StandardScaler().fit(x_test).transform(x_test.astype(float))

In [11]:
print('Train shape', X_train_nor.shape, y_train.shape)
print('Test shape', X_test_nor.shape, y_test.shape)

Train shape (623, 8) (623,)
Test shape (268, 8) (268,)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

search = GridSearchCV(LogisticRegression(),{
    'solver' : ['saga', 'sag', 'lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga'],
    'penalty' : ['l1', 'l2', 'elasticnet'],
    'C' : [0.001, 0.01, 0.1]
})

search.fit(X_train_nor, y_train)
search.cv_results_

/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
195 fits failed out of a total of 360.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver sag supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver newton-cholesky supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1291, in fit
    fold_coefs_ = Parallel(n_jobs=self.n_jobs, verbose=self.verbose, prefer=prefer)(
  File "/anaconda3/lib/python3.10/site-packages/sklearn/utils/parallel.py", line 63, in __call__
    return super().__call__(iterable_with_config)
  File "/anaconda3/lib/python3.10/site-packages/joblib/parallel.py", line 1048, in __call__
    if self.dispatch_one_batch(iterator):
  File "/anaconda3/lib/python3.10/site-packages/joblib/parallel.py", line 864, in dispatch_one_batch
    self._dispatch(tasks)
  File "/anaconda3/lib/python3.10/site-packages/joblib/parallel.py", line 782, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/anaconda3/lib/python3.10/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/anaconda3/lib/python3.10/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/anaconda3/lib/python3.10/site-packages/joblib/parallel.py", line 263, in __call__
    return [func(*args, **kwargs)
  File "/anaconda3/lib/python3.10/site-packages/joblib/parallel.py", line 263, in <listcomp>
    return [func(*args, **kwargs)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/utils/parallel.py", line 123, in __call__
    return self.function(*args, **kwargs)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 521, in _logistic_regression_path
    alpha = (1.0 / C) * (1 - l1_ratio)
TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver sag supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 64, in _check_solver
    raise ValueError(
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver newton-cholesky supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/anaconda3/lib/python3.10/site-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [0.61156129        nan        nan 0.61156129        nan        nan
        nan 0.61156129 0.61476129 0.61476129 0.61476129 0.77536774
 0.61476129 0.61476129 0.61476129 0.61476129        nan        nan
        nan        nan        nan        nan        nan        nan
 0.61156129        nan        nan 0.78658065        nan        nan
        nan 0.61156129 0.80739355 0.80739355 0.80739355 0.78338065
 0.80739355 0.80739355 0.80739355 0.80739355        nan        nan
        nan        nan        nan        nan        nan        nan
 0.78981935        nan        nan 0.78979355        nan        nan
        nan 0.78981935 0.79941935 0.79941935 0.79941935 0.79620645
 0.79941935 0.79941935 0.79941935 0.79941935        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

{'mean_fit_time': array([0.00184035, 0.00055976, 0.00042663, 0.00125275, 0.00039339,
        0.0003911 , 0.00045652, 0.00152454, 0.00241289, 0.00242977,
        0.00411363, 0.00175877, 0.00498419, 0.00230527, 0.00234084,
        0.00249276, 0.00112333, 0.00042896, 0.00040355, 0.00057859,
        0.00043979, 0.00039029, 0.00038762, 0.00114055, 0.0024641 ,
        0.0004673 , 0.00042434, 0.00120502, 0.0005722 , 0.00040903,
        0.00042849, 0.00222187, 0.00232439, 0.00255032, 0.00369749,
        0.00129523, 0.00546398, 0.00265799, 0.00246315, 0.0024653 ,
        0.00098553, 0.00039363, 0.00043054, 0.00039268, 0.00041113,
        0.00051279, 0.00038815, 0.00110021, 0.00294237, 0.00040064,
        0.00041656, 0.00160098, 0.00039058, 0.00045953, 0.00038686,
        0.00259247, 0.00254784, 0.00279493, 0.00326018, 0.00137072,
        0.00592036, 0.00328135, 0.00271664, 0.01086712, 0.00571246,
        0.00223751, 0.00325251, 0.01085162, 0.00575848, 0.00183134,
        0.00237732, 0.00668907]),
 'std_fit_time': array([9.93588174e-04, 1.76692162e-04, 3.85166967e-05, 2.27484891e-04,
        1.24736445e-05, 1.29806601e-05, 1.00339206e-04, 4.40268234e-04,
        4.29465091e-04, 6.76468953e-04, 1.12646787e-03, 6.45072128e-04,
        1.10089636e-03, 5.32388335e-04, 5.13289684e-04, 7.64671633e-04,
        8.13228404e-05, 2.11821993e-05, 2.54188646e-05, 2.00997773e-04,
        3.49969239e-05, 4.82053831e-06, 1.01601008e-06, 1.04778540e-04,
        3.89945037e-04, 1.14466942e-04, 3.50199156e-05, 2.20487068e-04,
        2.73393120e-04, 1.94340247e-05, 5.24174836e-05, 1.93019500e-04,
        1.40488997e-04, 5.01192996e-04, 6.31278276e-04, 4.72489083e-05,
        8.29055920e-04, 5.61848982e-04, 5.42555209e-04, 4.47569106e-04,
        2.16510326e-05, 1.10724833e-05, 4.87973351e-05, 7.72858749e-06,
        2.09265788e-06, 6.46258440e-05, 6.79555689e-06, 7.52627602e-05,
        7.33250910e-04, 1.29315213e-05, 4.94729525e-05, 5.46743282e-04,
        5.60035042e-06, 1.04032996e-04, 2.00385107e-06, 4.54026319e-04,
        7.77952021e-04, 6.88485000e-04, 2.76694408e-04, 5.99682968e-05,
        5.25206755e-04, 5.76087592e-04, 5.50740407e-04, 1.14071393e-02,
        2.07334522e-03, 5.65414240e-04, 1.06560393e-03, 1.07094670e-02,
        6.80451687e-03, 1.24393173e-03, 7.22583340e-04, 1.54715776e-03]),
 'mean_score_time': array([0.0006494 , 0.        , 0.        , 0.00056801, 0.        ,
        0.        , 0.        , 0.00057445, 0.00061054, 0.00059385,
        0.00062313, 0.00067601, 0.00063787, 0.00062795, 0.00056987,
        0.00057235, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.00069294,
        0.        , 0.        , 0.0005518 , 0.        , 0.        ,
        0.        , 0.0007802 , 0.00078707, 0.00065894, 0.00065985,
        0.00056901, 0.00064521, 0.00073066, 0.000599  , 0.00064979,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.00058999, 0.        ,
        0.        , 0.00061102, 0.        , 0.        , 0.        ,
        0.00059767, 0.00058937, 0.00063267, 0.00101051, 0.00060282,
        0.00086765, 0.00086036, 0.00057645, 0.00207739, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'std_score_time': array([1.81951175e-04, 0.00000000e+00, 0.00000000e+00, 2.04287857e-05,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.47751361e-05,
        4.07433286e-05, 4.37926062e-05, 3.02465143e-05, 1.08766294e-04,
        2.90904278e-05, 4.63193735e-05, 2.12250927e-05, 4.29197415e-05,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        2.02185174e-04, 0.00000000e+00, 0.00000000e+00, 1.41409354e-05,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.48561417e-04,
        4.28299993e-04, 4.16337552e-05, 4.89562466e-05, 2.05574890e-05,
        5.31880591e-05, 2.60641066e-04, 8.12933379e-05, 5.33074513e-05,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        4.83663336e-05, 0.00000000e+00, 0.00000000e+00, 6.10313191e-05,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 5.71921199e-05,
        5.22516496e-05, 7.25401760e-05, 5.32986184e-04, 9.03066635e-05,
        4.62537731e-04, 3.36453190e-04, 5.00911477e-05, 1.61292368e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 'param_C': masked_array(data=[0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                    0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                    0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                    0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.1, 0.1, 0.1, 0.1,
                    0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,
                    0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_penalty': masked_array(data=['l1', 'l1', 'l1', 'l1', 'l1', 'l1', 'l1', 'l1', 'l2',
                    'l2', 'l2', 'l2', 'l2', 'l2', 'l2', 'l2', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet', 'l1', 'l1',
                    'l1', 'l1', 'l1', 'l1', 'l1', 'l1', 'l2', 'l2', 'l2',
                    'l2', 'l2', 'l2', 'l2', 'l2', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet', 'l1', 'l1',
                    'l1', 'l1', 'l1', 'l1', 'l1', 'l1', 'l2', 'l2', 'l2',
                    'l2', 'l2', 'l2', 'l2', 'l2', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet', 'elasticnet',
                    'elasticnet', 'elasticnet', 'elasticnet'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_solver': masked_array(data=['saga', 'sag', 'lbfgs', 'liblinear', 'newton-cg',
                    'newton-cholesky', 'sag', 'saga', 'saga', 'sag',
                    'lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky',
                    'sag', 'saga', 'saga', 'sag', 'lbfgs', 'liblinear',
                    'newton-cg', 'newton-cholesky', 'sag', 'saga', 'saga',
                    'sag', 'lbfgs', 'liblinear', 'newton-cg',
                    'newton-cholesky', 'sag', 'saga', 'saga', 'sag',
                    'lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky',
                    'sag', 'saga', 'saga', 'sag', 'lbfgs', 'liblinear',
                    'newton-cg', 'newton-cholesky', 'sag', 'saga', 'saga',
                    'sag', 'lbfgs', 'liblinear', 'newton-cg',
                    'newton-cholesky', 'sag', 'saga', 'saga', 'sag',
                    'lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky',
                    'sag', 'saga', 'saga', 'sag', 'lbfgs', 'liblinear',
                    'newton-cg', 'newton-cholesky', 'sag', 'saga'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.001, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'lbfgs'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'liblinear'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'newton-cg'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'newton-cholesky'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'lbfgs'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'liblinear'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'newton-cg'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'newton-cholesky'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'saga'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'lbfgs'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'liblinear'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'newton-cg'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'newton-cholesky'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.001, 'penalty': 'elasticnet', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'lbfgs'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'liblinear'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'newton-cg'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'newton-cholesky'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'lbfgs'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'liblinear'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'newton-cg'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'newton-cholesky'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'saga'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'lbfgs'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'liblinear'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'newton-cg'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'newton-cholesky'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.01, 'penalty': 'elasticnet', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'lbfgs'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'liblinear'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'newton-cg'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'newton-cholesky'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'l1', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'lbfgs'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'liblinear'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'newton-cg'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'newton-cholesky'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'l2', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'saga'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'lbfgs'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'liblinear'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'newton-cg'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'newton-cholesky'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'sag'},
  {'C': 0.1, 'penalty': 'elasticnet', 'solver': 'saga'}],
 'split0_test_score': array([0.608,   nan,   nan, 0.608,   nan,   nan,   nan, 0.608, 0.608,
        0.608, 0.608, 0.736, 0.608, 0.608, 0.608, 0.608,   nan,   nan,
          nan,   nan,   nan,   nan,   nan,   nan, 0.608,   nan,   nan,
        0.752,   nan,   nan,   nan, 0.608, 0.792, 0.792, 0.792, 0.744,
        0.792, 0.792, 0.792, 0.792,   nan,   nan,   nan,   nan,   nan,
          nan,   nan,   nan, 0.744,   nan,   nan, 0.752,   nan,   nan,
          nan, 0.744, 0.776, 0.776, 0.776, 0.776, 0.776, 0.776, 0.776,
        0.776,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan]),
 'split1_test_score': array([0.608,   nan,   nan, 0.608,   nan,   nan,   nan, 0.608, 0.624,
        0.624, 0.624, 0.768, 0.624, 0.624, 0.624, 0.624,   nan,   nan,
          nan,   nan,   nan,   nan,   nan,   nan, 0.608,   nan,   nan,
        0.8  ,   nan,   nan,   nan, 0.608, 0.816, 0.816, 0.816, 0.784,
        0.816, 0.816, 0.816, 0.816,   nan,   nan,   nan,   nan,   nan,
          nan,   nan,   nan, 0.784,   nan,   nan, 0.8  ,   nan,   nan,
          nan, 0.784, 0.792, 0.792, 0.792, 0.784, 0.792, 0.792, 0.792,
        0.792,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan]),
 'split2_test_score': array([0.616,   nan,   nan, 0.616,   nan,   nan,   nan, 0.616, 0.616,
        0.616, 0.616, 0.768, 0.616, 0.616, 0.616, 0.616,   nan,   nan,
          nan,   nan,   nan,   nan,   nan,   nan, 0.616,   nan,   nan,
        0.768,   nan,   nan,   nan, 0.616, 0.808, 0.808, 0.808, 0.776,
        0.808, 0.808, 0.808, 0.808,   nan,   nan,   nan,   nan,   nan,
          nan,   nan,   nan, 0.784,   nan,   nan, 0.776,   nan,   nan,
          nan, 0.784, 0.792, 0.792, 0.792, 0.792, 0.792, 0.792, 0.792,
        0.792,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan]),
 'split3_test_score': array([0.61290323,        nan,        nan, 0.61290323,        nan,
               nan,        nan, 0.61290323, 0.61290323, 0.61290323,
        0.61290323, 0.80645161, 0.61290323, 0.61290323, 0.61290323,
        0.61290323,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan, 0.61290323,
               nan,        nan, 0.7983871 ,        nan,        nan,
               nan, 0.61290323, 0.80645161, 0.80645161, 0.80645161,
        0.80645161, 0.80645161, 0.80645161, 0.80645161, 0.80645161,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan, 0.80645161,        nan,
               nan, 0.80645161,        nan,        nan,        nan,
        0.80645161, 0.82258065, 0.82258065, 0.82258065, 0.81451613,
        0.82258065, 0.82258065, 0.82258065, 0.82258065,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split4_test_score': array([0.61290323,        nan,        nan, 0.61290323,        nan,
               nan,        nan, 0.61290323, 0.61290323, 0.61290323,
        0.61290323, 0.7983871 , 0.61290323, 0.61290323, 0.61290323,
        0.61290323,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan, 0.61290323,
               nan,        nan, 0.81451613,        nan,        nan,
               nan, 0.61290323, 0.81451613, 0.81451613, 0.81451613,
        0.80645161, 0.81451613, 0.81451613, 0.81451613, 0.81451613,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan, 0.83064516,        nan,
               nan, 0.81451613,        nan,        nan,        nan,
        0.83064516, 0.81451613, 0.81451613, 0.81451613, 0.81451613,
        0.81451613, 0.81451613, 0.81451613, 0.81451613,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'mean_test_score': array([0.61156129,        nan,        nan, 0.61156129,        nan,
               nan,        nan, 0.61156129, 0.61476129, 0.61476129,
        0.61476129, 0.77536774, 0.61476129, 0.61476129, 0.61476129,
        0.61476129,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan, 0.61156129,
               nan,        nan, 0.78658065,        nan,        nan,
               nan, 0.61156129, 0.80739355, 0.80739355, 0.80739355,
        0.78338065, 0.80739355, 0.80739355, 0.80739355, 0.80739355,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan, 0.78981935,        nan,
               nan, 0.78979355,        nan,        nan,        nan,
        0.78981935, 0.79941935, 0.79941935, 0.79941935, 0.79620645,
        0.79941935, 0.79941935, 0.79941935, 0.79941935,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'std_test_score': array([0.00311991,        nan,        nan, 0.00311991,        nan,
               nan,        nan, 0.00311991, 0.0052822 , 0.0052822 ,
        0.0052822 , 0.02511766, 0.0052822 , 0.0052822 , 0.0052822 ,
        0.0052822 ,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan, 0.00311991,
               nan,        nan, 0.02298227,        nan,        nan,
               nan, 0.00311991, 0.00852078, 0.00852078, 0.00852078,
        0.02310944, 0.00852078, 0.00852078, 0.00852078, 0.00852078,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan, 0.02867236,        nan,
               nan, 0.02285381,        nan,        nan,        nan,
        0.02867236, 0.0168696 , 0.0168696 , 0.0168696 , 0.01578278,
        0.0168696 , 0.0168696 , 0.0168696 , 0.0168696 ,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'rank_test_score': array([29, 34, 34, 29, 34, 34, 34, 29, 22, 22, 22, 21, 22, 22, 22, 22, 34,
        34, 34, 34, 34, 34, 34, 34, 29, 34, 34, 19, 34, 34, 34, 29,  1,  1,
         1, 20,  1,  1,  1,  1, 34, 34, 34, 34, 34, 34, 34, 34, 16, 34, 34,
        18, 34, 34, 34, 16,  8,  8,  8, 15,  8,  8,  8,  8, 34, 34, 34, 34,
        34, 34, 34, 34], dtype=int32)}

In [13]:
df = pd.DataFrame(search.cv_results_)

In [14]:
df[['param_C', 'param_penalty', 'param_solver', 'mean_test_score']].sort_values(by = 'mean_test_score', ascending = False)

   param_C param_penalty     param_solver  mean_test_score
34    0.01            l2            lbfgs         0.807394
32    0.01            l2             saga         0.807394
39    0.01            l2             saga         0.807394
38    0.01            l2              sag         0.807394
37    0.01            l2  newton-cholesky         0.807394
..     ...           ...              ...              ...
67     0.1    elasticnet        liblinear              NaN
68     0.1    elasticnet        newton-cg              NaN
69     0.1    elasticnet  newton-cholesky              NaN
70     0.1    elasticnet              sag              NaN
71     0.1    elasticnet             saga              NaN

[72 rows x 4 columns]

In [15]:
lr = LogisticRegression(C = 0.01, penalty = 'l2', solver = 'saga')
lr.fit(X_train_nor, y_train)
y_predict = lr.predict(X_test_nor)
print('accuracy_score', accuracy_score(y_test, y_predict))

accuracy_score 0.8208955223880597

In [16]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [17]:
test.drop(columns = ['Name', 'Ticket', 'Cabin'], inplace = True)

In [18]:
test.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [19]:
test['Age'].replace(np.nan, test['Age'].mean(), inplace = True)
test['Fare'].replace(np.nan, test['Fare'].mean(), inplace = True)

In [20]:
test['Sex'] = LabelEncoder().fit(test['Sex']).transform(test['Sex'])
test['Embarked'] = LabelEncoder().fit(test['Embarked']).transform(test['Embarked'])

In [21]:
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [22]:
x = np.array(test[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])
x_nor = StandardScaler().fit(x).transform(x.astype(float))

In [23]:
print('x_nor.shape', x_nor.shape)

x_nor.shape (418, 8)

In [24]:
y_submission = lr.predict(x_nor)
y_submission

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [25]:
y_submission.reshape(418, 1)
submission = pd.DataFrame(y_submission)
test = pd.concat([test, submission], axis = 1)
test.drop(columns = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], inplace = True)
test.rename(columns = {0 : 'Survived'}, inplace = True)

In [26]:
test.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [27]:
test.to_csv('/Users/mac/Desktop/Submission_LR.csv', index = False)